<div class="col-md-3 cont">
<div class="block">
  <div class="heart">
    <a (mouseover)="MouseOver()" (mouseout)="MouseOut()" (click)="MouseClick()">
      <img id="heart" src="https://i.imgur.com/jwPvqkI.png">
    </a>
  </div>
  <div class="img-box">
      <img class="prod-img" src="{{value?.link}}">
  </div>
  <div class="stars">
    <a (mouseover)="MouseOverStar(0)" (mouseout)="MouseOutStar(0)" >
    <img src="https://i.imgur.com/oyaqMWy.png" id="star1">
    </a>

    <a (mouseover)="MouseOverStar(1)" (mouseout)="MouseOutStar(1)">
    <img src="https://i.imgur.com/oyaqMWy.png" id="star2">
    </a>

    <a (mouseover)="MouseOverStar(2)" (mouseout)="MouseOutStar(2)">
    <img src="https://i.imgur.com/oyaqMWy.png" id="star3">
    </a>

    <a (mouseover)="MouseOverStar(3)" (mouseout)="MouseOutStar(3)">
    <img src="https://i.imgur.com/oyaqMWy.png" id="star4">
    </a>

    <a (mouseover)="MouseOverStar(4)" (mouseout)="MouseOutStar(4)">
    <img src="https://i.imgur.com/oyaqMWy.png" id="star5">
    </a>
  </div>
  <div class="prodName">
    <span>{{value?.prodName}}</span>
  </div>
  <div class="value-info">
    <span class="price">{{value?.price}}</span>
    <span class="value">грн / шт.</span>
  </div>

  <div class="row footer-prod">
    <div class="col-md-2">
      <a (click)="minusCount()">
      <img src="https://i.imgur.com/XEMXMyb.png">
      </a>
    </div>
    <div class="col-md-2">
      <span class="prod-count">{{count}}</span>
    </div>
    <div class="col-md-2">
      <a (click)="plusCount()">
      <img src="https://i.imgur.com/MfFBVMF.png">
      </a>
    </div>
    <div class="col-md-6">
    <button (click)="AddToJson()" type="button" class="btn btn-danger tocart">
      <img src="https://i.imgur.com/YLO2cLt.png">
    </button>
    </div>
  </div>
</div>
</div>
