<footer class="page-footer">
  <div class="footer">
    <img src="https://i.imgur.com/hTRltoW.png" class="logo">
      <a routerLink="" class="footer-home footer-text-style">
        Головна
      </a>
      <a routerLink="/about"  class="footer-about footer-text-style">
        Про нас
      </a>
      <a routerLink="/prod" class="footer-prod footer-text-style">
        Продукція
      </a>
      <a class="footer-contact footer-text-style" routerLink="/about/#contacts">
        Контакти
      </a>
      <a class="footer-soc footer-text-style">
        Соцмережі:
      </a>
      <img src="https://i.imgur.com/gAbvRto.png" class="logo-f">
      <img src="https://i.imgur.com/Hz1yskH.png" class="logo-y">
      <img src="https://i.imgur.com/iTew9Uu.png" class="logo-i">
    </div>
</footer>
