<div class="row">
  <div class="col-sm-12 col-md-6 d-flex justify-content-end">
    <ul><p>+ 38 (099) 000-00-00 <img src="https://i.imgur.com/BwuY56j.png" alt="smth gone bad" ></p>
      <p>+ 38 (099) 000-00-00 <img src="https://i.imgur.com/BwuY56j.png" alt="smth gone bad 2" ></p>
      <p >example@gmail.com <img src="https://i.imgur.com/fJ4SSEb.png" alt=""  ></p>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 d-flex justify-content-start">
    <ul><p><img src="https://i.imgur.com/P2pQbXM.png" alt="" class="fbimg" > www.facebook.com</p>
      <p><img src="https://i.imgur.com/aC705BT.png" alt="" class="fbimg" > www.youtube.com</p>
      <p><img src="https://i.imgur.com/PGxG8lw.png" alt="" class="fbimg" > www.instagram.com</p>
    </ul>
  </div>
</div>
