* {
    box-sizing: border-box;
  }
  body {
    margin:0;
    min-height: 1100px;
    /* width: 100vw; */
    /* overflow: hidden; */
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color:#555;
    background: #ecf0f3;
  }
  .login-div {
    /* width:90%; */
    /* height: 700px; */
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
  }

  a{
    cursor: pointer !important;
  }

  .adm{
    text-align: center;
    color: white;
    width: 70px;
    height: 25px;
    background: linear-gradient(134.17deg, rgba(239, 103, 103, 0.9) 4.98%, rgba(215, 61, 61, 0.9) 94.88%);
    box-shadow: -7.2px -7.2px 12px rgba(255, 255, 255, 0.8), 6px 6px 12px rgba(166, 180, 200, 0.7);
    border-radius: 12px;
  }

  .logo {
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    box-shadow:
    /* logo shadow */
    0px 0px 2px #5f5f5f,
    /* offset */
    0px 0px 0px 5px #ecf0f3,
    /*bottom right */
    8px 8px 15px #a7aaaf,
    /* top left */
    -8px -8px 15px #ffffff
    ;
  }
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
  }
  .sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
  }
  .username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }
  .fields svg {
    height: 22px;
    margin:0 10px 6px 25px;
  }
  .signin-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
    margin-bottom: 20px;
  }
  .signin-button:hover {
    background:#2fdbb6;
  }
  .signin-button:active {
    background:#1da88a;
  }

  .signout-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #cf2424;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signout-button:hover {
    background:#db2f2f;
  }
  .signout-button:active {
    background:#a81d1d;
  }

  .container-map {
    padding: 20px;
    height: 100%;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -7.2px -7.2px 12px rgba(255, 255, 255, 0.8), 6px 6px 12px rgba(166, 180, 200, 0.7);
    border-radius: 25px;
  }
  .map{
    border:0; height: 210px; width: 530px
  }

  button:active, button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0 !important;
  }
