@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: "gilroylight";
  src: url("assets/Gilroy-Regular.woff") format("woff"), /* Modern Browsers */
  url("assets/Gilroy-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #E5E5E5;
}
