<app-header></app-header>
<div style="background-color: #E5E5E5;">
<div class="container" >
  <div class="row" style="padding-top: 90px">
    <app-content></app-content>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
     <h2>Історія компанії</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12  d-flex justify-content-between text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi ad perferendis pariatur necessitatibus incidunt expedita. Voluptatum sapiente dicta incidunt vel, maxime aliquid? Quia, fugiat id! Consequuntur ad facilis incidunt.
            Et totam dicta officia, in harum eius cupiditate deleniti maxime rerum perspiciatis, tenetur magni rem, nemo assumenda non cumque modi esse sint consequuntur sequi. Doloremque vitae tenetur nam iure voluptatum.
            Quod, nesciunt voluptatem in itaque ducimus accusamus deleniti placeat ullam quam sequi excepturi suscipit officiis delectus. Adipisci magnam veritatis facere at qui nulla reprehenderit, deleniti debitis, explicabo suscipit, magni culpa.
            Alias quos possimus aspernatur, minima, ex iure inventore doloremque eius asperiores laudantium veniam numquam sequi porro nihil dolore maxime, facere beatae! Rem tempore illo minus hic pariatur, deserunt est voluptatibus.
            Ipsa qui officiis at ducimus, eaque eveniet eius. Ipsam ad natus quaerat accusamus repellat consectetur sunt? Amet, molestias et. Rem repellendus ipsam facilis ducimus minus veniam alias error nobis nisi.</p>
      </div>
  </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6"> <h4>Чому ми?</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil exercitationem quae quas vero obcaecati repellat esse non voluptatem, et aperiam aspernatur, harum laboriosam nam architecto dolore unde magnam magni vitae!</p></div>
        <div class="col-sm-12 col-md-6 container-img"> <img src="https://i.imgur.com/7mZLWSV.png" width="530" height="220" ></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 container-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4931.84896850226!2d24.02618101510078!3d49.85655564273661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add07f1731fd1%3A0xbadadff90f884085!2sIT%20Step%20Academy%2FUniversity!5e0!3m2!1suk!2sua!4v1603529059148!5m2!1suk!2sua" width="530" height="210" frameborder="0" style="border:0; height: 210px; width: 530px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        <div class="col-sm-12 col-md-6"> <h4>Де ми?</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil exercitationem quae quas vero obcaecati repellat esse non voluptatem, et aperiam aspernatur, harum laboriosam nam architecto dolore unde magnam magni vitae!</p></div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-center">
           <h2>Контакти</h2>
          </div>
        </div>

  <a name="contacts">
    <app-contacts></app-contacts>
  </a>
    </div>
</div>
<app-footer></app-footer>
