.line{
  width: 746px;
}
.back-line{
  width: 746px;
}

.photo{
  text-align: right;
}

.back{
  background: linear-gradient(134.17deg, #EF6767 4.98%, #D73D3D 94.88%);
  box-shadow: -7.2px -7.2px 12px rgba(255, 255, 255, 0.8), 6px 6px 12px rgba(166, 180, 200, 0.7);
  border-radius: 12px;
  margin-top: 30px;

  width: 413px;
  height: 48px;

  font-family: gilroylight;
  font-style: normal;
  font-weight: normal;
  font-size: 26.5873px;
  line-height: 31px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.suma {
  font-family: gilroylight;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #2B3348;
}

.colls{
  font-family: gilroylight;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: right;
  letter-spacing: 0.05em;

  color: #25CFAA;

}

.pod {
  font-family: gilroylight;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #2B3348;

}


.plats {
  font-family: gilroylight;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: right;
  letter-spacing: 0.05em;

  color: #2B3348;
}


.order-formed{
  text-align: center;
  font-family: gilroylight;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #2B3348;
}
